@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

:root{
    --color-navyblue: rgb(16, 11, 81);
}

body,
html {
    margin: 0;
    padding: 0;
}
.main-part {
    display: grid;
    height: 100%;
}

.img-bg-nature {
    opacity: 0.2;
    width: 100%;
    max-height: 100vh;
    position: absolute;
    z-index: -1;
}

.content-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

.love-head {
    border-radius: 50%;
}

.Mann,
.Khushali {
    font-family: 'Dancing Script', cursive;
    font-size: 62px;
    /* padding: 0 18%; */
    color: var(--color-navyblue);
    font-weight: 200;
}