@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body,
html {
    padding: 0;
    margin: 0;
}

/* 


.navigation{
    background-color: rgb(6, 4, 41);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo{
    width: 15%;
}

.img-logo{
    width: 60%;
}
.bonding{
    font-family: 'Island Moments', cursive;
    font-size: 48px;
}
.links a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    padding: 0 20px;
}

.links a:hover{
    border-bottom: 1px solid #ffffff;
} */

.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 5px !important;
    padding: 0 !important ;
  }
  
  .navbar {
    width: 100%;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  
  .navbar .menu-items {
    display: flex;

  }
  
  .navbar .nav-container li {
    list-style: none;
  }
  
  .navbar .nav-container a {
    text-decoration: none;
    color: #091350;
    font-weight: 500;
    font-size: 24px;
  }
  
  .navbar .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 24px;
    width: 32px;
    position: absolute;
    top: 17px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    padding-top: 120px;
    /* box-shadow: inset 0 0 2000px rebeccapurple; */
    height: 100vh;
    width: 30%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    background: #ffffff;
    z-index: 1;
  }
  
  .navbar .menu-items li {
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }

  hr{
    width: 80%;
  }

@media (max-width: 991px) {
    .u-section-2 {
        min-height: 817px;
    }
}

@media (max-width: 1199px) {
    .u-section-2 {
        min-height: 704px;
    }
}

.u-section-2 {
    min-height: 686px;
    background-image: none;
}

.u-grey-5,
.u-body.u-grey-5,
.u-container-style.u-grey-5:before,
.u-table-alt-grey-5 tr:nth-child(even) {
    color: #111111;
    background-color: #f2f2f2;
}

body,
aside,
.u-sidebar-block,
section,
header,
footer {
    position: relative;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}



@media (max-width: 991px) {
    .u-section-2 .u-shape-1 {
        width: calc(((100% - 720px) / 2) + 413px);
        height: 229px;
        margin-top: 429px;
    }
}

@media (max-width: 1199px) {
    .u-section-2 .u-shape-1 {
        width: calc(((100% - 940px) / 2) + 490px);
        margin-top: 339px;
    }
}

.u-section-2 .u-shape-1 {
    width: calc(((100% - 1140px) / 2) + 490px);
    height: 228px;
    margin: 321px 0 0 auto;
}

.u-palette-4-base,
.u-body.u-palette-4-base,
.u-container-style.u-palette-4-base:before,
.u-table-alt-palette-4-base tr:nth-child(even) {
    color: #ffffff;
    background-color: #f41800;
}

section>*,
header>*,
footer>*,
.u-sheet>* {
    position: relative;
}


@media (max-width: 991px) {
    .u-section-2 .u-shape-2 {
        width: calc(((100% - 720px) / 2) + 345px);
        height: 206px;
        margin-top: -536px;
    }
}

@media (max-width: 1199px) {
    .u-section-2 .u-shape-2 {
        width: calc(((100% - 940px) / 2) + 454px);
        height: 213px;
    }
}

.u-section-2 .u-shape-2 {
    width: calc(((100% - 1140px) / 2) + 490px);
    height: 228px;
    margin: -406px auto 0 0;
}

.u-palette-4-base,
.u-body.u-palette-4-base,
.u-container-style.u-palette-4-base:before,
.u-table-alt-palette-4-base tr:nth-child(even) {
    color: #ffffff;
    background-color: #222960;
}

@media (max-width: 991px) {
    .u-section-2 .u-image-1 {
        width: 509px;
        height: 404px;
        margin-top: 35px;
        margin-right: calc(((100% - 720px) / 2));
    }
}

@media (max-width: 1199px) {
    .u-section-2 .u-image-1 {
        width: 517px;
        margin-top: -189px;
        margin-right: calc(((100% - 940px) / 2));
    }
}

.u-section-2 .u-image-1 {
    width: 642px;
    height: 449px;
    margin: -204px calc(((100% - 1140px) / 2)) 0 auto;
}

img.u-image,
.u-video-poster {
    overflow: hidden;
}

.u-overlap.u-overlap-transparent .u-header,
.u-image,
.u-gradient {
    color: #111111;
}

.u-align-left {
    text-align: left;
}

.u-image,
.u-background-effect-image,
.u-video-poster {
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

img {
    border-style: none;
}

@media (max-width: 991px) {
    .u-section-2 .u-group-1 {
        min-height: 379px;
        width: 422px;
        margin-top: -717px;
        margin-right: auto;
        margin-left: calc(((100% - 720px) / 2));
    }
}

@media (max-width: 1199px) {
    .u-section-2 .u-group-1 {
        min-height: 467px;
        width: 490px;
        margin-top: -564px;
        margin-right: 500px;
        margin-left: auto;
    }
}

.u-section-2 .u-group-1 {
    min-height: 477px;
    width: 501px;
    box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 40%);
    margin: -546px auto 60px calc(((100% - 1140px) / 2) + 70px);
}

.u-white,
.u-body.u-white,
.u-container-style.u-white:before,
.u-table-alt-white tr:nth-child(even) {
    color: #111111;
    background-color: #ffffff;
}

.u-align-left {
    text-align: left;
}

.u-group {
    display: flex;
}

.u-white,
.u-body.u-white,
.u-container-style.u-white:before,
.u-table-alt-white tr:nth-child(even) {
    color: #111111;
    background-color: #ffffff;
}

.u-align-left {
    text-align: left;
}

.u-container-layout{
    padding: 25px;
}







.container-curtain  {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 600px;
  background: #f2f2f2;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
}

.content {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  text-align: justify;
  color: black;
  padding: 40px;
  font-family: 'Merriweather', serif;
}

h1 {
  font-weight: 900;
  text-align: center;
}

h3 {
  font-weight: 300;
}

.flap {
  width: 100%;
  height: 100%;
}

.flap::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  background: url("https://pbs.twimg.com/profile_images/1347260174176710658/2GfSZ1i__400x400.jpg") white;
  background-position: 100px;
  background-repeat: no-repeat;
  transition: 1s;
}

.flap::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  right: 0;
  background: url("https://pbs.twimg.com/profile_images/1347260174176710658/2GfSZ1i__400x400.jpg") white;
  background-position: -200px;
  background-repeat: no-repeat;
  transition: 1s;
}

.container-curtain:hover .flap::after {
  transform: translatex(300px);
}

.container-curtain:hover .flap::before{
  transform: translatex(-300px);
}

















.memories {
    background: #8e9eab;
    background: -webkit-linear-gradient(to left, #eef2f3, #97b7d2);
    background: linear-gradient(to left, #eef2f3, #afcce4);
    padding: 100px 0;
}

.img-card {
    margin: 10px;
    width: 20rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #ffffff;
}

.memory-cards-all {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.button-source {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    color: rgb(50, 2, 104);
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    filter: hue-rotate(0deg);
    border: 2px solid #d2bdff;
    transition: all 0.1s linear;
}

.button-source:hover {
    border: 1px solid transparent;
}

.button-source:hover span {
    position: absolute;
    display: block;
}

.button-source:hover span:nth-child(1) {
    filter: hue-rotate(0deg);
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #3a86ff);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

.button-source:hover span:nth-child(2) {
    filter: hue-rotate(60deg);
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #3a86ff);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.button-source:hover span:nth-child(3) {
    filter: hue-rotate(120deg);
    bottom: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(270deg, transparent, #3a86ff);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate3 {
    0% {
        right: -100%;
        height: 3px;
    }
    50%,
    100% {
        height: 2px;
        right: 100%;
    }
}

.button-source:hover span:nth-child(4) {
    filter: hue-rotate(300deg);
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #3a86ff);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-4 {
    background-image: linear-gradient(to right, #60a9fc, #1e2b57, #22358a, #1a1169);
    box-shadow: 0 4px 15px 0 rgba(2, 8, 59, 0.75);
}

.btn-hover a {
    text-decoration: none;
    color: #ffffff;
}
